body {
	font-family: sans-serif;
}

.content_wrapper {
	margin: 0 auto;
	width: 90%;
	line-height: 20px;	
}

nav {
	background-color: #FFB00F;
	display: inline-block;
	margin: 0 auto;	
	font-size: 18px;
	width: 100%;
	background-image: url(http://scr.templates.com/screenshots/illustrations/vector-illustration-of-the-sun-on-the-yellow-background-o.2300.2355.jpg);
	background-repeat: no-repeat;
	background-position: 100% 25%;
	min-width: 1200px;
}

ul.navigation li {
	float: left;
	padding: 30px 80px 45px 10px;
	list-style: none;
	color: white;
	display: inline;
}

ul.navigation a {
	font-size: 20px;
	font-family: sans-serif;
	font-weight: bold;
	color: white;
	text-decoration: none;
}

ul.navigation a:hover {
	color: #3bb9ff;
}

footer {
	background-color: #FFB00F;
	display: inline-block;
	margin: 0 auto;	
	font-size: 18px;
	width: 100%;
	position: relative;
	bottom: 0%;
}

#contact_info {
	list-style: none;
	margin: 0px;
	position: relative;
	bottom: -10px;
	font-size: 14px;
	letter-spacing: 3px;
	color: white;

}

#facebook_link {
	float: right;
	position: relative;
	left: -40px;
	top: -35px;
	letter-spacing: 1px;
	color: white;
}

#facebook_link:hover {
	text-decoration: underline;
}

h3 {
	letter-spacing: 1px;
}

p {
	line-height: 25px;
	text-align: justify;
	}
	
/* STYLE YOUR OWN BELOW*/


/* HOME */
.p_spacing {

}

#the_issue {
	width: 25%;
	height: 0 auto;
	float: left;
	padding-right: 15px;
}

#movie1 {
	margin-left: 25%;
}

#co2 {
	width: 25%;
	height: 0 auto;
	float: left;
	padding-right: 15px;
}
.last_sentence {
	font-weight: bold;
}

/* ABOUT */

h3.center {
	text-align: center;
	padding-bottom: 30px;
}

#our_story_wrapper {
	margin: 50px 0px 80px 0px;
}

#our_approach_wrapper_one {
	margin: 50px 0px 80px 0px;
}

#our_approach_wrapper_two {
	margin: 50px 0px 150px 0px;
}

#pollution_photo {
	width: 40%;
	float: left;
	margin: 10px 40px 20px 0px;
}

#polar_bear_photo {
	width: 25%;
	float: right;
	margin: 0px 10px 10px 30px;
}

.team_photo {
	width: 23%;
	padding: 5px;
}

/* TAKE ACTION */



/* PARTNERS */

#phead {
	text-align: center;
	font: 48px Georgia, serif;

}

.partner {
	width: 600px;
	text-align: center;
	margin: 0 auto;
	padding: 20px;	
}

.partner p {

}

.lap {
	/*-o-box-shadow:      12px 12px 29px #555;
-icab-box-shadow:   12px 12px 29px #555;
-khtml-box-shadow:  12px 12px 29px #555;
-moz-box-shadow:    12px 12px 29px #555;
-webkit-box-shadow: 12px 12px 29px #555;*/
box-shadow:         12px 12px 20px #555;
}

.under {
position:relative;
left: 110px;
bottom:30px;
z-index:-1;
}

.over {
position:relative;
right:120px;
top:50px;
z-index:1;
}






